# =========================
# 🔐 Environment variables
# =========================
.env
.env.*
!.env. n

# =========================
# 🐍 Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# =========================
# 🧪 Virtual Environment
# =========================
venv/
.envrc/
.venv/
ENV/

# =========================
# 🗄 Database
# =========================
*.sqlite3
db.sqlite3
*.db

# =========================
# 🧾 Logs
# =========================
*.log
logs/

# =========================
# 🐳 Docker
# =========================
*.pid
docker-compose.override.yml

# =========================
# 🧠 IDE - VSCode
# =========================
.vscode/

# =========================
# 🧠 IDE - PyCharm
# =========================
.idea/

# =========================
# 📦 Ruff / Black / MyPy
# =========================
.mypy_cache/
.pytest_cache/
.ruff_cache/

# =========================
# 📊 Coverage
# =========================
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# =========================
# 🧱 Build
# =========================
build/
dist/
*.egg-info/

# =========================
# 🔒 System Files
# =========================
.DS_Store
Thumbs.db
